.parsley-errors-list li{

    list-style: none !important;
    color: #ff000d;
    float: left;
}

.error p{

    color: #ff000d !important;
}

.preloadr-div{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(../../images/spinner_medium.gif) 50% 50% no-repeat;
}
.dropzone{
    border-style: dashed !important;
    margin-bottom: 10px !important;
}
#video-div{
    margin-bottom: 15px;
}

.ui-menu {
    list-style:none;
    padding: 10px;
    margin: 0;
    display:block;
    width:325px;
}

.ui-menu .ui-menu-item a{
    background: #272833;
    color: #b0bec5;
    font-size:16px;
    display:block;
    padding: 10px 25px !important;
    height: auto;
    border-radius: 0px;
    border-bottom :1px solid #b0bec5;
}
.ui-widget-content { border:none !important; padding:0px; margin:0px; }
.ui-menu-item a.ui-state-focus {
    background: red;
    color: white;
    border: none !important;
}

@media only screen and (max-width:991px) {
    .content {
        padding-bottom: 320px;
    }
}

@media only screen and (max-width:980px) {
    .banner {
        height: 600px;
    }
	.banner img#header-image {
		height: 100%;
		object-fit: cover;
	}
    table.banner-content.banner-section {
        position: absolute;
        top: 0;
    }    
}

@media only screen and (max-width: 767px) {
	.banner {
		height: 440px;
	}
}