.DS_Store

app/config/database.php

admin/app/config/database.php

partner/app/config/database.php

app/config/config.php
.htaccess
admin/.htaccess
partner/.htaccess

admin/app/config/config.php
admin/app/config/client_id.json
admin/app/config/gmail-php.json

partner/app/config/config.php
.htaccess
admin/.htaccess
partner/.htaccess

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
